Part 1

In [3]:
import pandas as pd

In [5]:
nba_data = pd.read_csv('nba.csv')

In [8]:
nba_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458 entries, 0 to 457
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      457 non-null    object
 1   Team      457 non-null    object
 2   Number    457 non-null    float64
 3   Position  457 non-null    object
 4   Age       457 non-null    float64
 5   Height    457 non-null    object
 6   Weight    457 non-null    float64
 7   College   373 non-null    object
 8   Salary    446 non-null    float64
dtypes: float64(4), object(5)
memory usage: 32.3+ KB

In [10]:
nba_data.shape

(458, 9)

In [12]:
nba_data.head(10)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
5,Amir Johnson,Boston Celtics,90.0,PF,29.0,6-9,240.0,NaN,12000000.0
6,Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0
7,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0
8,Terry Rozier,Boston Celtics,12.0,PG,22.0,6-2,190.0,Louisville,1824360.0
9,Marcus Smart,Boston Celtics,36.0,PG,22.0,6-4,220.0,Oklahoma State,3431040.0

In [13]:
nba_data_cleaned = nba_data.dropna(subset=['Salary'])

In [14]:
nba_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458 entries, 0 to 457
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      457 non-null    object
 1   Team      457 non-null    object
 2   Number    457 non-null    float64
 3   Position  457 non-null    object
 4   Age       457 non-null    float64
 5   Height    457 non-null    object
 6   Weight    457 non-null    float64
 7   College   373 non-null    object
 8   Salary    446 non-null    float64
dtypes: float64(4), object(5)
memory usage: 32.3+ KB

1 : Get the team name with the maximum average salary:

In [16]:
team_avg_salary = nba_data_cleaned.groupby('Team')['Salary'].mean()
team_with_max_avg_salary = team_avg_salary.idxmax()
print(f"Team with maximum average salary: {team_with_max_avg_salary}")

Team with maximum average salary: Cleveland Cavaliers

Team with maximum average salary: Cleveland Cavaliers

2. College contributing the maximum number of players:

In [19]:
college_counts = nba_data['College'].value_counts()
college_with_max_players = college_counts.idxmax()
print(f"College contributing the maximum number of players: {college_with_max_players}")

College contributing the maximum number of players: Kentucky

In [20]:
# College contributing the maximum number of players: Kentucky

3. Difference between the top 2 salaried players:

In [22]:
top_2_salaries = nba_data_cleaned['Salary'].nlargest(2)
salary_difference = top_2_salaries.iloc[0] - top_2_salaries.iloc[1]
print(f"Difference between top 2 salaried players: {salary_difference}")

Difference between top 2 salaried players: 2029500.0

Part 2

 1 : Given two numbers a, b where b > a, find the sum of all primes between them.

In [37]:
def is_prime(n):
   
    if n < 2:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

def sum_of_primes(a, b):
    
    return sum(x for x in range(a + 1, b) if is_prime(x))


a, b = 10, 30  
result = sum_of_primes(a, b)
print(f"Sum of primes between {a} and {b}: {result}")

Sum of primes between 10 and 30: 112

2 : Find the 3rd smallest number in an array.

In [38]:
def third_smallest(arr):
   
    if len(arr) < 3:
        return None  
    sorted_arr = sorted(arr)  
    return sorted_arr[2]  


array = [7, 10, 4, 3, 20, 15]
result = third_smallest(array)
if result is not None:
    print(f"The 3rd smallest number is: {result}")
else:
    print("The array has fewer than 3 elements.")

The 3rd smallest number is: 7